@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;

  --type-normal: #B8B5A6;
  --type-fire: #EE7F45;
  --type-water: #6EA8DD;
  --type-electric: #F4D354;
  --type-grass: #74C365;
  --type-ice: #8AD2E0;
  --type-fighting: #C65548;
  --type-poison: #A45BA6;
  --type-ground: #D4A05D;
  --type-flying: #9E9ECC;
  --type-psychic: #E06C9F;
  --type-bug: #A8C66C;
  --type-rock: #B8A566;
  --type-ghost: #7D6EAE;
  --type-dragon: #7465D2;
  --type-dark: #736C64;
  --type-steel: #A3A6AF;
  --type-fairy: #F1A8C7;

  --type-normal-icon: #75D0C1;
  --type-fire-icon: #FBA54C;
  --type-water-icon: #539DDF;
  --type-electric-icon: #F2D94E;
  --type-grass-icon: #5FBD58;
  --type-ice-icon: #75D0C1;
  --type-fighting-icon: #D3425F;
  --type-poison-icon: #B763CF;
  --type-ground-icon: #DA7C4D;
  --type-flying-icon: #A1BBEC;
  --type-psychic-icon: #FA8581;
  --type-bug-icon: #92BC2C;
  --type-rock-icon: #C9BB8A;
  --type-ghost-icon: #5F6DBC;
  --type-dragon-icon: #0C69C8;
  --type-dark-icon: #595761;
  --type-steel-icon: #5695A3;
  --type-fairy-icon: #EE90E6;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
